.article-preview-container {
  display: flex;
  padding: 0.5rem;
}

.article-preview-container .content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  box-sizing: border-box;
  padding-left: 1rem;
}


.article-preview-container .header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.article-preview-container .header-container strong {
  margin-right: 1rem;
}

.article-preview-container .content-container .text-container {
  display: flex;
  flex: 1 1 auto;
}

.article-preview-container .image-container {
  min-width: 200px;
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
